@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("/node_modules/font-awesome/css/font-awesome.css");
body {
  color: #585c5c;
  font-family: "Raleway",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }

a {
  color: #333399; }

h1 {
  color: #ff6600;
  font-size: 2em; }

h2 {
  color: #aa3502;
  font-size: 1.2em;
  font-weight: bold; }

.btn {
  cursor: pointer; }
  .btn:not(.btn-lg) {
    font-size: 0.9em; }
  .btn:not(.btn-inherit).btn-primary {
    background-color: #EA7A01;
    border-color: #EA7A01;
    color: #fff; }
    .btn:not(.btn-inherit).btn-primary:not([disabled]):hover {
      opacity: 0.9; }
    .btn:not(.btn-inherit).btn-primary:not([disabled]):active {
      opacity: 0.8; }
  .btn:not(.btn-inherit).btn-secondary {
    background-color: #4D396E;
    border-color: #4D396E;
    color: #fff; }
    .btn:not(.btn-inherit).btn-secondary:not([disabled]):hover {
      opacity: 0.9; }
    .btn:not(.btn-inherit).btn-secondary:not([disabled]):active {
      opacity: 0.8; }

#navbar {
  padding: 0 1rem; }
  #navbar .navbar-brand > img {
    height: 75px; }
  #navbar .navbar-nav {
    margin: 10px 0; }
    #navbar .navbar-nav .nav-social {
      padding: 7px 15px; }
    #navbar .navbar-nav .btn {
      padding: 0.465rem 0.75rem;
      width: 125px; }
  #navbar #navbarLinks .nav-sm {
    display: none; }
  @media (max-width: 991px) {
    #navbar #navbarLinks .nav-sm {
      display: list-item; }
    #navbar #navbarLinks .nav-lg {
      display: none; } }

#navbarSecondary > .navbar-nav {
  margin: 0 auto; }
  #navbarSecondary > .navbar-nav > .nav-divider {
    opacity: 0.3;
    padding: 7px; }
@media (max-width: 991px) {
  #navbarSecondary {
    display: none; } }

#hero {
  background-position: center;
  background-size: 100%;
  background-size: cover;
  padding: 70px 0;
  position: relative; }
  #hero .hero-content > div > h3 {
    color: #FFF; }
  #hero .hero-content > div > div {
    color: #A3A3A3;
    margin: 0; }
  #hero .hero-content > div > .btn-video {
    display: none;
    margin-top: 20px; }
  @media (min-width: 992px) {
    #hero:not(.hero-lg) .hero-content > div {
      position: absolute;
      transform: translateY(-50%);
      top: 50%; } }
  #hero.hero-lg {
    padding: 150px 0; }
    #hero.hero-lg .hero-content > div > h3 {
      margin: 0; }
    #hero.hero-lg .hero-video {
      display: none; }
  #hero:before {
    background: rgba(34, 34, 34, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  @media (max-width: 991px) {
    #hero .hero-content {
      text-align: center; }
      #hero .hero-content > div {
        position: initial;
        transform: none;
        top: 0; }
        #hero .hero-content > div > .btn-video {
          display: inline-block; }
    #hero .hero-video {
      display: none; } }

#videoModal .modal-body {
  padding: 0; }

#sidebar {
  border-right: 1px dashed #8A8A8A; }
  #sidebar > ul {
    padding: 0; }
    #sidebar > ul > li {
      list-style: none; }
      #sidebar > ul > li + li:before {
        border-top: 1px dashed #8A8A8A;
        content: "";
        display: block;
        width: 100%; }
      #sidebar > ul > li > a {
        color: #585c5c;
        display: block;
        margin: 10px 0; }
        #sidebar > ul > li > a > i {
          color: #4D396E;
          float: right;
          margin-top: 4px; }
        #sidebar > ul > li > a.active {
          font-weight: bold; }
          #sidebar > ul > li > a.active > i {
            color: #585c5c; }
  @media (max-width: 991px) {
    #sidebar {
      display: none; } }

#wrapper {
  margin: 20px auto; }

.content-grid {
  margin-top: 10px; }
  .content-grid .grid-item > .row,
  .content-grid > .row {
    margin-top: 30px; }
    .content-grid .grid-item > .row > .grid-image img,
    .content-grid > .row > .grid-image img {
      width: 100%; }
    .content-grid .grid-item > .row > .grid-content > div,
    .content-grid > .row > .grid-content > div {
      white-space: pre-line; }
    @media (max-width: 575px) {
      .content-grid .grid-item > .row > .grid-image.hidden-sm-down,
      .content-grid > .row > .grid-image.hidden-sm-down {
        display: none; } }

.cart-table tbody > tr input {
  max-width: 50px;
  width: 100%; }

#cartFAB {
  background: #FFF;
  border-radius: 50%;
  bottom: 15px;
  box-shadow: 2px 2px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  color: #000;
  display: block;
  height: 60px;
  position: fixed;
  right: 15px;
  width: 60px;
  z-index: 100; }
  #cartFAB > span {
    background: red;
    border-radius: 50%;
    color: #FFF;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -2px;
    width: 20px; }
  #cartFAB > i {
    font-size: 1.3em;
    padding: 0.95em; }

#footer > .container {
  color: #585C5C;
  font-size: 0.8em;
  padding: 40px 15px;
  text-align: center;
  white-space: pre-line; }

body.editor #footer > .container,
body.editor #navbar,
body.editor #navbarSecondary > ul,
body.editor #sidebar > ul {
  cursor: not-allowed !important;
  opacity: 0.3;
  user-select: none; }
  body.editor #footer > .container *,
  body.editor #navbar *,
  body.editor #navbarSecondary > ul *,
  body.editor #sidebar > ul * {
    cursor: not-allowed !important; }
body.editor #hero .btn.editor {
  margin-top: 20px; }
body.editor #heroImageModal .modal-body > div {
  margin: 10px 0; }
  body.editor #heroImageModal .modal-body > div img {
    cursor: pointer;
    margin: 5px;
    width: 100px; }

.note-editor {
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
