.content-grid {
  margin-top: 10px;

  .grid-item > .row,
  > .row {
    margin-top: 30px;

    > .grid-image {
      img {
        width: 100%;
      }
    }

    > .grid-content {
      > div {
        white-space: pre-line;
      }
    }
    @media (max-width: 575px) {
      > .grid-image {
        &.hidden-sm-down {
          display: none;
        }
      }
    }
  }
}
