{% extends "layout.twig.html" %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/index">Admin</a></li>
    <li class="breadcrumb-item"><a href="/admin/pages">Pages</a></li>
    {% if page.page %}
    <li class="breadcrumb-item"><a href="/admin/pages/manage?id={{ page.page.id }}">{{ page.page.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
    {% else %}
    <li class="breadcrumb-item active">Oops</li>
    {% endif %}
  </ol>
</nav>

<h2>Delete Page</h2>

{% if page.page %}
<div>
  {% if page.page.protected %}
  <div class="alert alert-light card-main">This page is protected by the system or by the theme. Page configuration is locked.</div>
  {% else %}
  <div class="alert alert-light card-main">Are you sure you wish to delete <em>{{ page.page.title }}</em>? <strong>This cannot be undone.</strong></div>

  <form action="/admin/pages/delete?id={{ page.page.id }}" method="POST">
    <input type="hidden" name="csrf" value="{{ admin.csrf }}" />
    <input type="hidden" name="delete" value="1" />

    <div class="text-right form-group">
      <button class="btn btn-danger btn-sm">Delete page</button>
    </div>

    <div class="text-right">
      <a href="/admin/pages" class="btn btn-primary btn-lg">Cancel</a>
    </div>
  </form>
  {% endif %}
</div>
{% else %}
<div class="alert alert-light card-main">Page does not exist.</div>
{% endif %}
{% endblock %}
