.navbar {
  background: $primaryColor;
  box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);

  .nav-brand {
    > .navbar-brand {
      > strong {
        color: #FFF;
      }
    }

    > .dropdown-menu {
      position: absolute;
    }
  }

  > .navbar-collapse {
    @media (min-width: 768px) {
      .mb-show {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .mb-hide {
        display: none;
      }
    }
  }
}
